@import "_config";

.faqWrapper {
    min-height: 100vh;
}

.faqHero {
    height: 850px;
    background: url("../../public/images/faq.jpeg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}

.faqFaqContainer {
    width: 50%;
    max-width: 730px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faqListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 0;
    color: $item-color;
    border-bottom: 2px solid $item-border;
    cursor: pointer;
    @include transition-color-ease;

    &:hover {
        color: $item-hover-color;

        i {
            border: 2px solid $item-hover-color;

            &:before, &:after {
                background-color: $item-hover-color;
            }
        }
    }

    p {
        font-size: 2.6rem;
        font-weight: 700;
    }

}

.circePlusMinus {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 2px solid $button-color;
    background: transparent;
    position: relative;
    @include transition-all-ease;

    &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 14px;
        background-color: $button-color;
        top: 14px;
        left: 6px;
        margin-top: -2px;
        @include transition-all-ease;
    }

    &:after {
        content: "";
        position: absolute;
        height: 14px;
        width: 2px;
        background-color: $button-color;
        top: 6px;
        left: 14px;
        margin-left: -2px;
        @include transition-all-ease;
    }
}