@import "_config";

.homeWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLayout {
    width: 50%;
    max-width: 1080px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.headingBg {
    background-color: $header-bg-color;
    color: set-text-color($header-bg-color);
    padding: 2.5rem;
    margin: 0 2rem 3rem;

    & h1 {
        font-size: 4.2rem;
        text-align: center;
    }
}

.homeInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.homeInfoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $item-color;

    p {
        font-size: 2.6rem;
    }

    img {
        border-radius: 50px;
        height: 65px;
        width: 100%;
    }

    &:nth-child(2) {
        margin-bottom: 7rem;
    }

    > div {
        &:nth-child(2) {
            width: 65px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 0.5rem;
            
            a {
                @include transition-color-ease;

                &:hover {
                    color: $item-hover-color;
                }
            }
        }
    }
}

.homeAnchorButton {
    padding: 2rem;
    font-size: 1.5rem;
    border: 1px solid $item-color;
    border-radius: 10px;
    cursor: pointer;
    @include  transition-bg;

    &:hover {
        background-color: $anchor-hover-color;
    }
}